body {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-image: url("/img/lamp.jpg"); */
    background-color: black;
    background-repeat: no-repeat;
}

.active{
    overflow: hidden;
    background-color:transparent
  }
  
  .active a {
    float: left;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .active a:visited {
   color: blueviolet;
  }
  
  .active a:hover, .dropdown:hover, .dropbtn:hover {
    background-color:blue;
    color: white;
    border-radius: 1.5rem;
  }

  .block {
    float: left;
    margin: 0;
    padding: 0;
  }

  .active  {
    float: right;
  }

form {
    padding-left: 400px;
}

input {
    background-color: aliceblue;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 600px;
    height: 44px;
    border: 1px solid #555;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

label {
    color: blanchedalmond;
    padding-left: 250px;
    text-align: center;
    font-size: 50px;
}



button {
  background-color: orangered;
  border: none;
  border-radius: 20px;
}

button a {
  text-decoration: none;
  color: white;
}



.fit {
  position: relative;
  margin: 3%;
}

.t1 {
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: larger;
  color:rgba(136, 7, 104, 0.712);
}

.t2 {
  position: absolute;
  bottom: 170px;
  left: 30px;
  font-size: larger;
  color:white;
}

.btn {
  position: absolute;
  top: 250px;
  left:100px;
}

div {
  float: left;

}

.flit {
  position: relative;
  margin:3%;
}

.text1 {
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: larger;
  color: rgb(233, 13, 222);
}

.text2 {
  position: absolute;
  bottom: 200px;
  left: 30px;
  font-size: larger;
  color: white;
}

.btn2 {
  position: absolute;
  top: 250px;
  left:100px;
}

.text3 {
  position: absolute;
  top: 5px;
  left: 30px;
  font-size: larger;
  color:rgba(136, 7, 104, 0.712);

}

.text4 {
  position: absolute;
  bottom: 170px;
  left: 30px;
  font-size: larger;
  color:white;
}


select {
  background-color: inherit;
  color: blueviolet;
  border: none;
}

